.navbar {
  display: block;
  background: white;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    #menu {
      display: flex;
      gap: 25px;
      align-items: center;
      justify-content: center;
    }

    #logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
